<footer class="footer has-background-light pt-5 pb-5 mt-6">
  <!-- Footer Columns -->
  <div class="container mt-6">
    <div class="columns is-multiline">
      <div class="column is-2">
        <p class="has-text-weight-bold mb-2">A Abreu</p>
        <p><a href="#">A nossa história</a></p>
        <p><a href="#">Patrocínios</a></p>
        <p><a href="#">Contactos</a></p>

      </div>
      <div class="column is-3">
        <p class="has-text-weight-bold mb-2">Informações</p>
        <p><a href="#">Condições de utilização</a></p>
        <p><a href="#">Política de privacidade</a></p>
        <p><a href="#">Termos e condições</a></p>
        <p><a href="#">Política de cookies</a></p>
        <p><a href="#">Livro de reclamações</a></p>
      </div>
    </div>
  </div>

  <!-- Bottom Strip -->
  <div class="has-text-centered mt-6 pt-4 pb-4" style="border-top: 1px solid #ddd;">
    <p class="is-size-7">
      Viagens Abreu, S.A. | RNAVT 1702 | Sede: Praça da Trindade, 142, 4000-539 Porto
    </p>
    <div class="mt-3">
      <a href="https://wa.me/+351911087648" target="_blank">
        <fa-icon [icon]="faWhatsapp" class="mr-3 has-text-primary"></fa-icon>
      </a>

      <a href="https://www.instagram.com/itssal.m/" class="has-text-primary" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
  </div>
</footer>
